@import "tailwindcss";

@theme {
  --font-sans: var(--font-syne), sans-serif;

  --letter-spacing-base: -0.02em;
  --line-height-base: 1.6;

  --text-hero: var(--text-5xl);
  --text-small: var(--text-xs);
  --text-default: var(--text-base);
  --text-large: var(--text-xl);

  --color-base-background: var(--color-zinc-900);
  --color-base-text: var(--color-zinc-50);
  --color-base-text-dark: var(--color-zinc-300);
  --color-base-text-darker: var(--color-zinc-400);
  --color-base-base: var(--color-zinc-800);
  --color-base-light: var(--color-zinc-700);
  --color-base-lighter: var(--color-zinc-600);
  --color-base-lightest: var(--color-zinc-500);
  --color-base-dark: var(--color-zinc-950);

  --color-primary: var(--color-pink-600);
  --color-primary-light: var(--color-pink-500);
  --color-primary-lighter: var(--color-pink-400);
  --color-primary-dark: var(--color-pink-700);
  --color-primary-text: var(--color-pink-50);

  --color-accent: var(--color-yellow-200);
  --color-accent-light: var(--color-yellow-100);
  --color-accent-dark: var(--color-yellow-300);
  --color-accent-darker: var(--color-yellow-700);
  --color-accent-text: var(--color-yellow-900);

  --color-error: var(--color-rose-500);

  --color-normal: var(--color-taupe-200);
  --color-fighting: var(--color-orange-400);
  --color-flying: var(--color-sky-200);
  --color-poison: var(--color-fuchsia-400);
  --color-ground: var(--color-amber-400);
  --color-rock: var(--color-olive-300);
  --color-bug: var(--color-lime-300);
  --color-ghost: var(--color-purple-300);
  --color-steel: var(--color-slate-300);
  --color-fire: var(--color-red-400);
  --color-water: var(--color-blue-300);
  --color-grass: var(--color-green-400);
  --color-electric: var(--color-yellow-300);
  --color-psychic: var(--color-rose-300);
  --color-ice: var(--color-cyan-200);
  --color-dragon: var(--color-indigo-300);
  --color-dark: var(--color-mauve-300);
  --color-fairy: var(--color-pink-300);
}

@layer base {
  body {
    letter-spacing: var(--letter-spacing-base);
    line-height: var(--line-height-base);
    @apply bg-base-background text-base-text antialiased;
  }

  *:focus-visible {
    outline: none;

    @apply ring-2 ring-accent ring-offset-2 ring-offset-base-background;
  }

  ::selection {
    background-color: color-mix(in oklab, var(--color-accent) 20%, transparent);
  }
}
